pytest==5.3.1
tox==3.14.1
cookiecutter>=1.4.0
pytest-cookies==0.5.1
alabaster==0.7.12
watchdog>=2.0
pandas==2.2.0
xlrd>=2.0.1
mkdocs==1.6.0
mkdocs-material==9.5.29
mkdocstrings==0.25.1
pyarrow==16.1.0